.main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  .btn-edit{
    margin-top: 10px;
    background-color: #3498db;
    float: right;
    color:#ffffff;
  }