
<div class="container-fluid" >
    <div class="row">
      <div class="col-md-12">
        <carousel >
          <slide>
            <img src="assets/nature.jpg" alt="Slide 1" class="d-block w-100">
          </slide>
          <slide>
            <img src="assets/nature1.jpg" alt="Slide 2" class="d-block w-100">
          </slide>
          <slide>
            <img src="assets/nature2.jpg" alt="Slide 3" class="d-block w-100">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="about-container">
        <h1>ABOUT US</h1>
    <p><strong>
        ICBT Educational Institute is a leading institution dedicated to providing
        high-quality education and fostering academic excellence. With a commitment
        to innovation and student success, we strive to empower individuals for a
        successful future.
    </strong>
      </p>
     </div> 
  </div>

  